#fireworks-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
}

body{
    width: auto;
    height: auto;
    background-color: #383838;
    overflow-y: hidden;
}

.example-content{
    width: 100%;
    height: 100%;
    background-color: #424242;
}

.example-input{
    position: fixed;
    top: 85%;
    left: 2%;
    min-height: 5%;
    min-width: 150px;
    width: 10%;
    height: 5%;
    height: auto;
    width: 10%;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    text-align: center;
    background-color: #242323;
}

#launch-btn{
    top: 92%;
}

#mode-select{
    top: 78%;
}